/*a:link { 
    color:#3E75E1;
    text-decoration:none; 
}
*/
a {
    color:#2D53A1;
    text-decoration:none;
}

a:hover {
    color:#3E75E1;
}

.Projects a {
    color: black;
}

.Projects a:hover {
    color: grey;
}

#header .login a {
    text-decoration: underline;
}

body {
  color: black;
  margin: 20px;
}

body, input, textarea {
  font-family: Arial, sans-serif;
  font-size: small;
  margin-left: 20%;
  margin-right: 20%;
}

form {
  margin: 0;
  padding: 0;
}
.create {
    float: bottom;
}
.Welcome {
    font-weight: bold;
    font-size: 40pt;
}
#header {
  position: relative;
}
#header #ProjectsHeader {
   text-align : left;
}
#header #MainTitle {
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 30pt;
}

#header .login {
  position: absolute;
  top: 0px;
  right: 0px;
}

#header .login .nickname {
  font-weight: bold;
}

#body {
  clear: both;
  position: relative;
}

#footer {
  margin-top: 4em;
}

.form .field {
  margin-bottom: 0.5em;
}

.dialog .form .message {
  width: 30em;
  margin-bottom: 1em;
}

.dialog {
  border: 1px solid #3a5774;
  padding: 8px;
  background-color: #C1d9ff;
}

.dialog .content {
  background-color: white;
  padding: 25px;
}

.title {
  background-color: #e0edfe;
  font-size: medium;
  font-weight: bold;
  padding: 7px;
  padding-left: 10px;
}

.Projects {
    text-align: center;
    font-size: medium;
    float: center;
    
}
.Projects .project {
    border: 2px solid #e0edfe;
    width: 20%;
    margin: 1%;

  margin-left: auto ;
  margin-right: auto ;
}

.CounterMessage {
    text-align: center;
    font-weight: bold;
}

.count {
    text-align: center;
    font-size: 200pt;
    background-color: #CCCCFF;
}

#left {
    float: left;
    width: 25%;
    text-align: center;
}

#right {
    float: right;
    width: 75%;
    text-align: left;
    background-color: #CCCCFF;
}

.ComponentHeader{
    font-size: 30pt;
    hover: grey;
}
.ComponentSelected {
    font-size: large;
    background-color: #CCCCFF;
}
.DeleteComponent {

}
.DeleteButton {
    margin-left: 0px;
}