/* Copyright 2007 Google */

body {
  background-color: #e0edfe;
  color: black;
  margin: 20px;
}

body, input, textarea {
  font-family: Arial, sans-serif;
  font-size: small;
}

form {
  margin: 0;
  padding: 0;
}

#header {
  position: relative;
}
#header #ProjectsHeader {
   text-align : left;
}
#header #MainTitle {
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 40pt;
}

#header .login {
  position: absolute;
  top: 0px;
  right: 0px;
}

#header .login .nickname {
  font-weight: bold;
}

#body {
  clear: both;
  position: relative;
}

#footer {
  margin-top: 4em;
}

a.button:hover, input[type^="submit"]:hover, input[type^="button"]:hover {
  border-color: #9cf #69e #69e #7af;
}

.form .field {
  margin-bottom: 0.5em;
}

.dialog .form .message {
  width: 30em;
  margin-bottom: 1em;
}

.dialog {
  border: 1px solid #3a5774;
  padding: 8px;
  background-color: #C1d9ff;
}

.dialog .content {
  background-color: white;
  padding: 25px;
}

.title {
  background-color: #e0edfe;
  font-size: medium;
  font-weight: bold;
  padding: 7px;
  padding-left: 10px;
}

.Projects {
    text-align: center;
    font-size: medium;
}
.CounterMessage {
    text-align: center;
    font-weight: bold;
}

.count {
    text-align: center;
    font-size: 200pt;
    background-color: #CCCCFF;
}

#left {
    float: left;
    width: 25%;
    text-align: center;
}

#right {
    float: right;
    width: 75%;
    text-align: left;
    background-color: #CCCCFF;
}

.ComponentHeader {
    font-size: 30pt;
}
.ComponentSelected {
    font-size: large;
    background-color: #CCCCFF;
}
.DeleteComponent {

}
.DeleteButton {
    margin-left: 0px;
}