{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="http://www.google.com/jsapi">
</script>
<script src="static/javascript/counter.js" type="text/javascript">
</script>

{% endblock %}

{% block body %}
<div class="inbox">
  <form action="/actions/modifyProject.do" method="post">
    <div class="table">
      <table>
	<tr>
	  <th>Project Description</th>
	  <th>Current Row Count</th>
	  <th></th>
	</tr>
	<tr>
	  <td>
	    {{ project.description }}
	  </td>
	  <td> <input id="_row" name="row" value=""/></td>
	  <td class="update">
	    <span class="button">
	      <input type="submit" name="action" value="Save"/>
	    </span>
	    <span class="button">
	      <input type="submit" name="action" value="Delete"/>
	    </span>
	  </td>
	</tr>
      </table>
    </div>
    <div class="counter"
	 onkeydown="onKeyDown(event, '{{project.get_id}}')"
	 onload="divSelected()"
	 onFocus="$('div.CounterMessage').html('Hit space to increment count ')"
	 onBlur="$('div.CounterMessage').html('Click here to start counting')"
	 tabindex="1">
      <div class="CounterMessage">
	Click here to start counting
      </div>
      <div class="count">
	{{ project.row }}
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block footer %}

{% endblock %}
