{% extends "base.html" %}


{% block body %}
<div class="Projects">
  {% for project in projects %}
  <a href="/project?id={{ project.get_id }}">{{ project.description|escape }}</a>
  <br/>
  {% endfor %}
  <hr/>
  <form action="/actions/createProject.do" method="post">      
    <input type="hidden" name="next" value="{{ request.uri|escape }}"/>
    <input name="description" type="text"/><br/>
    <input type="submit" value="Create Project"/>
  </form>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
