{% extends "base.html" %}


{% block body %}
<form action="/actions/createProject.do" method="post">
  <div class="inbox">
    <input type="hidden" name="next" value="{{ request.uri|escape }}"/>
    <div class="table">
      <input name="description" type="text"/>
      <input type="submit" value="Create Project"/>
      <br/>
      {% for project in projects %}
      <a href="/project?id={{ project.get_id }}">{{ project.description|escape }}</a>
      <br/>
      {% endfor %}
      </table>
    </div>
</form>
{% endblock %}

{% block footer %}
{% endblock %}
